/web/bundles/
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/bootstrap.php.cache
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
/composer.phar
/web/bundles/
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/migration/*
*.DS_Store
/vendor/*
src/JYPS/RegisterBundle/Resources/savedCards/*.png
*.cache
composer.lock
/app/*.cache

