{# src/JYPS/RegisterBundle/Resources/views/MemberFee/paytrail_payment.twig #}
<head>
<title>JYPS Ry Jäsentyypin vaihtaminen</title>
<link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
<center>

  Voit vaihtaa jäsentyyppisi alla olevasta valikosta. Tallentamisen jälkeen sivu palaa takaisin maksulomakkeelle.
  
</html>
