{# src/JYPS/RegisterBundle/Resources/views/Member/join_member.html.twig #}
<head>
<title>JYPS Ry Liittymislomake</title>
<link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
<center>
Tervetuloa mukaan toimintaan! Saat vahvistussähköpostin hetken kuluttua.
</p>
</html>