{# src/JYPS/RegisterBundle/Resources/views/Member/join_member.html.twig #}
<head>
<title>JYPS Ry Liittymislomake</title>
<link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
<center>
<p>Tervetuloa mukaan toimintaan! Saat vahvistussähköpostin hetken kuluttua.</p>

<p>Jos et antanut sähköpostiosoitettasi, voit maksaa jäsenmaksusi seuraavilla tiedoilla:</p>
<ul>
<li>Pankkitili: FI2436363002088300</li>

<li>Viestikenttään tieto "Uusi jäsen" ja koko nimesi.</li>
</ul>

</p>
</html>
