{# src/JYPS/RegisterBundle/Resources/views/Member/join_member.html.twig #}
<head>
<title>JYPS Ry Liittymislomake</title>
<link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
<center>
Tervetuloa mukaan toimintaan! Saat vahvistussähköpostin hetken kuluttua.

Jos et antanut sähköpostiosoitettasi, voit maksaa jäsenmaksusi seuraavilla tiedoilla:
Pankkitili: FI2436363002088300
Viestikenttään tieto "Uusi jäsen" ja koko nimesi.

</p>
</html>