{# src/JYPS/RegisterBundle/Resources/views/Member/show_member.html.twig #}
<head>
	<title>JYPS Ry jäsenrekisteri - Raportit </title>
	  <link href="{{ asset('style.css') }}" rel="stylesheet" />
</head>
<center>

<body>

<h2>JYPS Ry</h2>
<font face="Lucida Grande" size="1.5">

<h3><a href=../../member>Jäsenet</a> | <a href=../../member/add>Lisää jäsen</a> | <a href=../user>Admin</a> | <a href=../memberfees>Jäsenmaksut</a>| <a href=../configuration>Konfiguraatio</a> | Viiteaineisto | <a href=../logout>Logout</a> Käyttäjä: {{ app.user.username }} </h3>

<script src="{{ asset('bundles/jypsregister/js/d3.min.js') }}"></script>
<script src="{{ asset('bundles/jypsregister/js/jquery-1.10.2.js') }}"></script>
<script src="http://dimplejs.org/dist/dimple.v2.1.0.min.js"></script>

<script  type="text/javascript">
var d3js_data;
var male = 0;
var female = 0;
$.getJSON( "api/v1/members.json", function( json ) {
  
  for(var i = 0; i < json.length; i++) {
    if (json[i].gender === true) {
        male++;
    }
    else {
      female++;
    }
}

d3js_data = [{"gender":"female" , "qty":female},{"gender":"male","qty":male}];
var svg = dimple.newSvg("div", 800, 600);
var chart = new dimple.chart(svg, d3js_data);
    chart.addCategoryAxis("x", "gender");
    chart.addMeasureAxis("y", "qty");
    chart.addSeries(null, dimple.plot.bar);
    chart.draw();
 });

</script>
<center>
<div id="graph_area">
</div>
</body>
</center>